<div class="hashtags index">
	<h2><?php echo __('Hashtags'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('hashtagid'); ?></th>
			<th><?php echo $this->Paginator->sort('content'); ?></th>
			<th><?php echo $this->Paginator->sort('count'); ?></th>
			<th><?php echo $this->Paginator->sort('datecreated'); ?></th>
			<th><?php echo $this->Paginator->sort('hashtagtweetid'); ?></th>
			<th><?php echo $this->Paginator->sort('hashtaguserid'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($hashtags as $hashtag): ?>
	<tr>
		<td><?php echo h($hashtag['Hashtag']['hashtagid']); ?>&nbsp;</td>
		<td><?php echo h($hashtag['Hashtag']['content']); ?>&nbsp;</td>
		<td><?php echo h($hashtag['Hashtag']['count']); ?>&nbsp;</td>
		<td><?php echo h($hashtag['Hashtag']['datecreated']); ?>&nbsp;</td>
		<td><?php echo h($hashtag['Hashtag']['hashtagtweetid']); ?>&nbsp;</td>
		<td><?php echo h($hashtag['Hashtag']['hashtaguserid']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $hashtag['Hashtag']['hashtagid'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $hashtag['Hashtag']['hashtagid'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $hashtag['Hashtag']['hashtagid']), array('confirm' => __('Are you sure you want to delete # %s?', $hashtag['Hashtag']['hashtagid']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Hashtag'), array('action' => 'add')); ?></li>
	</ul>
</div>
