<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: img/img_bg_3.jpg">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">

						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small"><?php echo "Trending Date : ".$hashtags[0]["Hashtag"]["datecreated"]; ?></span>
							<h1><?php echo "Hashtag : " .$hashtags[0]["Hashtag"]["content"]; ?></h1>	
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</header>

	<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-6 animate-box">
					<h3>People who used this hashtag</h3>
					<div class="followings index">
								<?php if($hashtags!=0):?>
								<?php foreach($hashtags as $hashtag): ?>
								<?php echo '<img src="/cake_2_0/app/webroot/img/'.$hashtag["UserJoin"]["picture"].'" height="200"  style="height:100px;width:100px;float:left;border-radius: 8px;" >'; ?>
								<p style=><?php echo $hashtag["UserJoin"]["firstname"]. " " ;echo $hashtag["UserJoin"]["lastname"]. '<br>'. $hashtag["UserJoin"]["email"].'<br>'.$hashtag["TweetJoin"]["content"].'<br>'.$hashtag["TweetJoin"]["tweetcreated"] .'<br>';?>
							</p>	
								
								<?php endforeach; ?>
								<?php endif;?>
    <center>
    <div class="paging">

    </div>
    </center>

</div>


				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					
				<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small">Number of Tweets : </span>
							<h1><?php //echo $result; echo " "; echo $stringredirect;?></h1>	
							<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
							<div id="gtco-counter" class="">
								<div class="feature-center">
								<span class="counter js-counter" data-from="1" data-to=<?php echo count($hashtags); ?> data-speed="2000" data-refresh-interval="50">5</span>
								<span class="intro-text-small">Tweets</span>
								</div>
							</div>
							<?php  ?>
						</div>


				</div>
				</div>
			</div>
		</div>
	</div>