<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-6 animate-box">
					<div class="followings index">
								
					<div class="tweets form">
					<?php echo $this->Form->create('Tweet'); ?>
						<fieldset>
							<legend><?php echo __('Edit Tweet'); ?></legend>
						<?php
							echo $this->Form->input('content',array('class' => 'form-control','rows'=> 3));
							echo $this->Form->submit('SubmitEdit', array('class' => 'btn btn-primary btn-block',$this->request->data["Tweet"]["tweetsid"]));

						?>
						</fieldset>
					<?php echo $this->Form->end(); ?>
					</div>

    <center>
    <div class="paging">

    </div>
    </center>

</div>


				</div>

			</div>
		</div>
	</div>


