<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_3.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">
                        <?php $verification = []; $count = 0;
                        if(empty($dataForView["listofsearch"][0]) == false):
                        foreach($listofsearch as $search):?>
                        <span class="intro-text-small">List of users</span>
                         <?php echo '<img src="/cake_2_0/app/webroot/img/'.$search["User"]["picture"].'" height="200"  style="height:100px;width:100px;float:left;border-radius: 8px;" ><br>'; ?>
                                <p><?php echo $search["User"]["firstname"]. " " ;echo $search["User"]["lastname"]. '<br>'. $search["User"]["email"];?></p>	
                                <?php echo $this->Html->link(__('viewUser'), array('action' => 'view',$search["User"]["id"])); echo '<hr>'?>
                        <?php endforeach; endif;?>

					</div>
					
				</div>
			</div>
		</div>
	</header>
	