<!-- <div class="page-inner"> -->
<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="http://localhost/cake_2_0/tweets/">Microblog <em>.</em></a></div>
				</div>
	 
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li><input type="text" class="input-sm" placeholder="Search.." id="Searchbar" ></li>
						<li><button class="btn-primay btn-sm "id = "Go2">Go</button></li>
						<li><a href="http://localhost/cake_2_0/tweets/">Home</a></li>
						<li class="has-dropdown">
							<a href="#">Account</a>
							<ul class="dropdown">
								<li><a href=http://localhost/cake_2_0/users/edit/<?php echo $_SESSION["Auth"]["User"]["id"];?>>Edit Account</a></li>
								<li><a href="http://localhost/cake_2_0/users/login">login</a></li>
								<li><a href="http://localhost/cake_2_0/users/logout">logout</a></li>
							</ul>
						</li>
						<li><a href="">About US</a></li>
						<li><a href="">Contact</a></li>
					</ul>	
				</div>
			</div>
			
		</div>
	</nav>